<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/jdbc">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet" th:href="@{/layui_ext/dtree/dtree.css}">
    <link rel="stylesheet" th:href="@{/layui_ext/dtree/font/dtreefont.css}">
    <script th:src="@{/js/apiUrl.js}"></script>
    <script th:src="@{/js/jquery/jquery.min.js}"></script>
    <script th:src="@{/js/methodHelper.js}"></script>
    <script th:src="@{/js/common/layuiAdmin.js}"></script>

</head>
<body>
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body" style="padding: 15px;">
            <form class="layui-form layui-form-pane" action="" lay-filter="formFilter">
                <fieldset class="layui-elem-field layui-field-title">
                    <legend>基本信息</legend>
                </fieldset>
                <input type="hidden" name="id" id="id">
                <div class="layui-row layui-col-space10 layui-form-item ">
                    <div class="layui-inline">
                        <label class="layui-form-label">字典索引名<span style="color: #FF5722">*</span></label>
                        <div class="layui-input-inline">
                            <select id="dictIndexId" name="dictIndexId" lay-search="">

                            </select>
                        </div>
                    </div>

                    <div class="layui-inline">
                        <label class="layui-form-label">字典对照码<span style="color: #FF5722">*</span></label>
                        <div class="layui-input-inline">
                            <input type="text" name="dictCode" lay-verify="required" placeholder="请输入字典对照码"
                                   autocomplete="off" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-inline">
                        <label class="layui-form-label">字典对照值<span style="color: #FF5722">*</span></label>
                        <div class="layui-input-inline">
                            <input type="text" name="dictValue" lay-verify="" placeholder="请输入字典对照值"
                                   autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">状态<span style="color: #FF5722">*</span></label>
                        <div class="layui-input-inline">
                            <select id="status" name="status" lay-search="">
                                <div th:if=" ${dict.status} eq '0'">
                                    <option value="0" selected>正常</option>
                                    <option value="1">禁用</option>
                                </div>
                                <div th:if=" ${dict.status} eq '1'">
                                    <option value="0">正常</option>
                                    <option value="1" selected>禁用</option>
                                </div>
                            </select>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">排序值</label>
                        <div class="layui-input-inline">
                            <input type="number" name="sortNo" placeholder="请输入排序值"
                                   autocomplete="off" class="layui-input">
                        </div>
                    </div>
                </div>

                <div class="layui-row layui-col-space10 layui-form-item " align="center">
                    <div class="layui-col-xs6" id="btnSubmit">
                        <button class="layui-btn layui-btn-normal  layui-btn-fluid" lay-submit
                                lay-filter="btnSubmit">
                            提交
                        </button>
                    </div>
                    <div class="layui-col-xs6" id="btnClose">
                        <button class="layui-btn layui-btn-danger layui-btn-fluid" type="button"
                                onclick=" Util.closePage()">
                            关闭
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script th:inline="javascript">

    if ([[${action}]].toString() === 'detail') {
        $('#btnSubmit').css("display", "none");
        $('#btnClose').css("float", "none");
    }

    layui.use(["form", 'layer'], function () {
        const form = layui.form,
            layer = layui.layer;

        //赋值
        if (!Util.isEmpty([[${dict.id}]])) {
            form.val('formFilter', {
                "id": [[${dict.id}]], // "name": "value"
                "dictCode": [[${dict.dictCode}]],
                "dictValue": [[${dict.dictValue}]],
                "sortNo": [[${dict.sortNo}]]
            });
            form.render(); //更新全部
        }

        //监听保存按钮
        form.on('submit(btnSubmit)', function (data) {

            let loadIndex = layer.load(2);

            let ajaxrequire = {
                _urls: apiUrl.dict.updateDict,
                _method: 'post',
                _dataType: 'json',
                _data: data.field
            };
            $createAjax(ajaxrequire, function (res) {
                if (res.code === 0) {
                    //获取当前页面关闭，关闭form弹框
                    parent.location.reload();
                    parent.layer.msg("操作成功", {icon: 6, time: 1000});
                } else {
                    parent.layer.msg(res.message, {icon: 5, time: 1000}, function () {
                        layer.close(loadIndex);
                    });
                }
            });
            //取消提交按钮事件
            return false;
        });

        //程序入口
        $(function() {

            let ajaxrequire = {
                _urls: apiUrl.dict.select,
                _method: 'post'
            };
            $createAjax(ajaxrequire, function (res) {
                if (res.code === 0) {
                    var html = '';
                    var data = res.data;
                    for (var i = 0; i < data.length; i++) {
                        if ([[${dict.dictType}]] == data[i].dictType && [[${dict.dictName}]] == data[i].dictName) {
                            html += "<option selected value= '" + data[i].id + "'>" + data[i].dictType + "&" + data[i].dictName + "</option>";
                        }else {
                            html += "<option value= '" + data[i].id + "'>" + data[i].dictType + "&" + data[i].dictName + "</option>";
                        }
                    }
                    $("#dictIndexId").html('').append(html);
                    form.render();
                } else {
                    parent.layer.msg(res.message, {icon: 5, time: 1000}, function () {
                        layer.close(loadIndex);
                    });
                }
            });

        })

    });


</script>

</body>
</html>